.navbar{
  margin-bottom: 0px;
  .navbar-right{
    margin-right: 20px;
    font-size: $icon-size;
  }
}
.showcase{
  background: url(../img/dev_mac_showcase.jpg);
  background-size: cover;
  background-position: -10px;
  padding: 30px;
  .container{
    background-color: rgba(255,255,255, 0.5);
    padding: 10px;
  }
}
.section_my_panel{
  padding: 20px;
  background: $main-color;
  .container{
    .row{
      .col{
        color: white;
      }
    }
  }
}

.section_whoami{
  .container{
    .col{
      .profile{
        max-height: 300px;
        border-radius: 30px;
        margin:10px;
      }
    }
  }
}

.section_highlights{
  background: $main-color;
  color: white;
  .container{
    .list-group{
      color: black;
    }
  }
}

.section_experience{

  .date{
    
  }
}

.section_hobbies{

  .list-group{
    .list-group-item{
      color: black;
    }
  }
}

.footer{
  padding:10px;
  width: 100vw;
  background: lightgrey;
}
